<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Help page</title> 
    </head>

    <body>
        {{> header}}
        <p>This is a help page, aint it great</p>
        {{> projectsLink}}
        {{> footer}}
    </body>
</html>