<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Projects page</title> 
    </head>

    <body>
        <p>This is where my projects may be visible</p>
    </body>
</html>